<div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-5">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Crear empleado</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form   role="form"
                    [formGroup]="employeeForm"
                    (ngSubmit)="editEmployee()">
              <div class="card-body">
                <div class="form-group">
                  <label for="inputName">Nombre completo</label>
                  <input    type="text"
                            class="form-control"
                            id="inputName"
                            placeholder="Nombre completo"
                            formControlName="name">
                </div>
                <div class="form-group">
                  <label for="inputJob">Puesto de trabajo</label>
                  <input    type="text"
                            class="form-control"
                            id="inputJob"
                            placeholder="Puesto de trabajo"
                            formControlName="job">
                </div>
                <div class="form-group">
                  <label for="inputSalary">Salario</label>
                  <input    type="number"
                            class="form-control"
                            id="inputSalary"
                            placeholder="Salario"
                            formControlName="salary">
                </div>
                <div class="form-group">
                  <label for="inputHireDate">Fecha de contratación - Formato YYYY-MM-DD</label>
                  <input    type="text"
                            class="form-control"
                            id="inputHireDate"
                            placeholder="Fecha de contratación"
                            formControlName="hire_date">
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-primary">Guardar</button>
              </div>
            </form>

            <div class="card-header">
              <h3 class="card-title">Beneficiario</h3>
            </div>

            <form   role="form"
                    [formGroup]="beneficiaryForm"
                    (ngSubmit)="editBeneficiary()">
              <div class="card-body">
                <div class="form-group">
                  <label for="inputName">Nombre completo</label>
                  <input    type="text"
                            class="form-control"
                            id="inputName"
                            placeholder="Nombre completo"
                            formControlName="name">
                </div>
                <div class="form-group">
                  <label for="inputBirthdate">Fecha de nacimiento - Formato YYYY-MM-DD</label>
                  <input    type="text"
                            class="form-control"
                            id="inputBirthdate"
                            placeholder="Fecha de nacimiento"
                            formControlName="birthdate">
                </div>
                <label>Genero</label> 
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="h"
                      formControlName="gender">
                    <label class="form-check-label" for="inlineRadio1">Hombre</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="m"
                      formControlName="gender">
                    <label class="form-check-label" for="inlineRadio2">Mujer</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputRelationship">Parentesco</label>
                  <input    type="text"
                            class="form-control"
                            id="inputRelationship"
                            placeholder="Parentesco"
                            formControlName="relationship">
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-primary">Guardar</button>
                <button class="btn btn-lg btn-danger"
                  (click)="deleteBeneficiaryEmployee($event)"
                >Eliminar</button>
              </div>
            </form>
          </div>
    </div>
</div>