<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/dashbaord" class="brand-link">
      <span class="brand-text font-weight-light">KSP</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header">OPCIONES</li>
          <li class="nav-item">
            <a routerLink="/employees/create" class="nav-link">
              <i class="nav-icon fas fa-sticky-note"></i>
              <p>Crear empleado</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/employees/list" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>Listar empleados</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>